body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center-wrapper{
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
button{
  font-style :italic;
  font-weight: bold;
}
.inline{
  display: inline;
}
.f-right{
  float: right;
}
.fullHeight{
  height: 100%
}

form{
  display: inline-block;
}

.fullWidth{
  width: 100%;
}

.input-wrapper{
  margin-top: 5px;
  margin-bottom: 5px;
}

.task-wrapper{
  margin-top: 3px;
  padding:5px;
  position: relative;
  border: 1px solid black;
  border-radius: 5px;
}

.center-vertical{
  display: flex;
  align-items: center;
}

.center-horizontal{
  display: flex;
  justify-content: center;
}

input{
  display: block;
  width: 300px;
  border-width: 0px 0px 1px 0px;
  padding: 5px 1px 5px 1px;
}

small{
  display: block;
  color : red
}